@model BookDataModel

<div class="container">
    <div class="row mt-5">
        <div class="col-12 my-5">
            <p style="font-size: 2rem; display: inline;">Name: </p><p style="display: inline;">@Html.DisplayFor(model => model.Book.Title)</p>
            <div></div>
            <p style="font-size: 2rem; display: inline;">Author:  @Html.DisplayFor(model => model.Book.User.UserName)</p><p></p>
        </div>
        <div class="col-6">
            <form asp-action="Read" method="get" class="d-inline-block">
                <input type="hidden" asp-for="Book.Id" name="bookid" />
                <button class="btn btn-secondary">Read book</button>
            </form>

            <div class="mx-2 d-inline-block align-bottom itemes btn btn-secondary">
                @Html.ActionLink("Download", "Download", "Book", new { bookId = Model.Book.Id }, null)
            </div>
        </div>
        <div class="col-12 border-top border-secondary my-5">
            <p></p>
        </div>

    </div>

    <div class="row mb-5">
        <div class="col-8">

            @if (Model.AverageRating == null)
            {
                <p> Rate: Not rated yet</p>
                <div class="form-group">
                    <div class="text-warning d-flex" id="inputStarDiv">
                        <i class="ratingStar fas fa-star p-1" style="cursor:pointer" id="inputStar1"></i>
                        <i class="ratingStar far fa-star p-1" style="cursor:pointer" id="inputStar2"></i>
                        <i class="ratingStar far fa-star p-1" style="cursor:pointer" id="inputStar3"></i>
                        <i class="ratingStar far fa-star p-1" style="cursor:pointer" id="inputStar4"></i>
                        <i class="ratingStar far fa-star p-1" style="cursor:pointer" id="inputStar5"></i>
                    </div>
                </div>
            }
            else
            {
                <p>
                    Rating:
                    <span class="text-warning d-inline-flex">
                        <i class="ratingStar fas fa-star p-1" id="averageStar1"></i>
                        <i class="ratingStar far fa-star p-1" id="averageStar2"></i>
                        <i class="ratingStar far fa-star p-1" id="averageStar3"></i>
                        <i class="ratingStar far fa-star p-1" id="averageStar4"></i>
                        <i class="ratingStar far fa-star p-1" id="averageStar5"></i>
                    </span>
                    (@Html.DisplayFor(model => model.AverageRating))
                </p>
                <p>
                    Change rating:
                    <div class="form-group">
                        <div class="text-warning d-flex" id="inputStarDiv">
                            <i class="ratingStar fas fa-star p-1" style="cursor:pointer" id="inputStar1"></i>
                            <i class="ratingStar far fa-star p-1" style="cursor:pointer" id="inputStar2"></i>
                            <i class="ratingStar far fa-star p-1" style="cursor:pointer" id="inputStar3"></i>
                            <i class="ratingStar far fa-star p-1" style="cursor:pointer" id="inputStar4"></i>
                            <i class="ratingStar far fa-star p-1" style="cursor:pointer" id="inputStar5"></i>
                        </div>
                    </div>
                </p>
            }

        </div>
        @if (!Model.IsOnWishlist)
        {
            <form asp-controller="Book" asp-action="AddToWishlist" method="post">
                <input type="hidden" asp-for="Book.Id" />
                <div class="col-sm">
                    <button class="btn btn-danger" type="submit"><i class="far fa-heart"></i>Add to wishlist</button>
                </div>
            </form>
        }
        else
        {
            <form asp-controller="Book" asp-action="RemoveFromWishlist" method="post">
                <input type="hidden" asp-for="Book.Id"/>
                <button class="btn btn-danger" type="submit">Remove from wishlist</button>

            </form>
        }
        <div class="col-2">
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="Subscribe" method="post" id="subscribeForm">
                    <input type="hidden" asp-for="Book.UserId" name="AuthorId" />
                    <input type="hidden" asp-for="IsSubscribed" />
                    <button id="subscribeBtn" class="btn btn-secondary"><i class="fa-regular fa-bell m-1"></i><span>Subscribe</span></button>
                </form>
            }
            else
            {
                <a id="loginRedirect" asp-area="Identity" asp-page="/Account/Login"
                   asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString"
                   class="btn btn-secondary"><i class="fa-regular fa-bell m-1"></i>Subscribe</a>
            }
        </div>
    </div>
    <div class="row">

        <section class="col-12" style="background-color: #eee;">
            <div class="container my-5 py-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <h3>Leave a comment</h3>
                                    <form asp-action="Comment" id="commentForm" method="post">
                                        <input type="hidden" asp-for="Book.Id" name="bookId" />
                                        <div class="d-flex flex-start w-100">
                                            <div class="form-outline w-100">
                                                <textarea asp-for="CommentInput" class="form-control" rows="4"
                                                          style="background: #fff;"></textarea>
                                                <span asp-validation-for="CommentInput" id="commentErr" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="float-end mt-2 pt-1">
                                            <button class="btn btn-primary btn-sm">Post comment</button>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <h4 class="text-center">You must be logged in to leave a comment</h4>
                                    <div class="w-100 text-center">
                                        <a asp-area="Identity" asp-page="/Account/Login"
                                           asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString"
                                           class="btn btn-primary my-3">Login</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                @foreach (var comment in Model.Comments)
                {
                    <div class="row d-flex justify-content-center mt-2">
                        <div class="col-md-12 col-lg-10 col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-start align-items-center">
                                        <div>
                                            <h6 class="fw-bold text-primary mb-1">@Html.DisplayFor(model => comment.User.UserName)</h6>
                                            <!-- Ne zapisujemo datum zasad
                                                <p class="text-muted small mb-0">
                                                    Shared publicly - Jan 2020
                                                </p
                                            -->
                                        </div>
                                    </div>

                                    <p class="mt-3 mb-4 pb-2">
                                        @Html.DisplayFor(model => comment.CommentText)
                                    </p>

                                    <!-- Trenutno nemamo ove mogucnosti
                                        <div class="small d-flex justify-content-start">
                                            <a href="#!" class="d-flex align-items-center me-3">
                                                <i class="far fa-thumbs-up me-2"></i>
                                                <p class="mb-0">Like</p>
                                            </a>
                                            <a href="#!" class="d-flex align-items-center me-3">
                                                <i class="far fa-comment-dots me-2"></i>
                                                <p class="mb-0">Comment</p>
                                            </a>
                                            <a href="#!" class="d-flex align-items-center me-3">
                                                <i class="fas fa-share me-2"></i>
                                                <p class="mb-0">Share</p>
                                            </a>
                                        </div>
                                    -->
                                </div>
                                <!-- Dio za reply - trenutno nemamo mogucnosti
                                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                        <form asp-action="Comment" method="post">
                                            <input type="hidden" asp-for="Book.Id" name="bookId" />
                                            <div class="d-flex flex-start w-100">
                                                <div class="form-outline w-100">
                                                    <textarea asp-for="CommentInput" class="form-control" rows="4"
                                                                style="background: #fff;"></textarea>
                                                    <label class="form-label" for="textAreaExample">Message</label>
                                                </div>
                                            </div>
                                            <div class="float-end mt-2 pt-1">
                                                <button type="button" class="btn btn-primary btn-sm">Post comment</button>
                                                <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                -->
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

<script>
    let averageRating = null;
    const userRating = @Model.UserRating;
    const rateURL = '@Url.Action("Rate", "Book")';
    const bookId = @Model.Book.Id;
    const loginRedirect = $('#loginRedirect').attr('href');
</script>
@if (@Model.AverageRating != null)
{
    <script>
        averageRating = @Model.AverageRating;
    </script>
}

<script src="~/js/BookData.js"></script>
